@font-face {
    font-family: 'Archer-Book';
    src: url('../fonts/Archer-Book.ttf') format('ttf'),
         url('../fonts/Archer-Book.otf') format('otf'),
         url('../fonts/Archer-Book.woff') format('woff');
         
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Archer-Bold';
    src: url('../fonts/Archer-Bold.ttf') format('ttf'),
         url('../fonts/Archer-Bold.otf') format('otf'),
         url('../fonts/Archer-Bold.woff') format('woff');
         
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'FFAD-Metro';
    src: url('../fonts/ffad_matro-webfont.ttf') format('ttf'),
         url('../fonts/ffad_matro-webfont.woff') format('woff');
         
    font-weight: normal;
    font-style: normal;
}



html, body {
    margin:0;
    padding:0;
}

body {
    background:white;
    font-family: 'Archer-Book';
}

* {
    box-sizing:border-box;
}


@keyframes appear {
    0% {
        opacity:0;
        transform:translateY(50px);
    }
    100% {
        opacity: 1;
        transform:translateY(0);
    }
}


h3 {
    text-align: center;
    font-family: 'FFAD-Metro';
    font-size: 2.1rem;
    letter-spacing: 2px;

    @media (max-width:500px) {
        font-size:2rem;
        margin:16px auto;
    }
}

.banner {
    z-index:0;
    position: absolute;
    top:50px;
    left:0;
    width:100%;
    display :flex;
    justify-content:center;
    //pointer-events: none;
    @media (max-width:1300px) {
        display:none;
    }



    .middle {
        //width:550px;
        flex-grow:1;
    }

   
    .img-outer {
        //flex : 1 1 0;
        display:flex;
        &:first-child {
            width:calc(45% - 512px);
            min-width:375px;
            max-width:500px;
        }

        &:last-child {
            width:calc(60% - 512px);
            min-width:500px;
            max-width:550px;

            @media (max-width:1500px) {
                margin-top:75px;
                min-width:400px;
            }
        }
    }

    img {
        width:100%;
        display:block;
        align-self: flex-end;
    }
}

.area {
    position:relative;
    .background { 
        background: #e03b3d;
        height: 100%;
        position: absolute;
        width: 100%;
        top:75px;
    }
}

article {
    margin-top:-50px;
    border-top:#ffde67 solid 20px;
    z-index: 1;
    position: relative;
    display:flex;
    flex-direction:column;
    width:1024px;
    margin:auto;
    max-width:100%;
    background :white;
    margin-bottom:25px;

    



    



    .instructions {
        background:white;

        #details {
            transition: all 0.5s ease-in;
            max-height:650px;
            

            @media (max-width:450px) {
                max-height: 1000px;
            }

            @media (max-width:350px) {
                max-height:1200px;
            }

            overflow:hidden;
            h4 {
                font-size: 1.5rem;
                font-family:'Archer-Bold';
                text-align:center;
            }

            .info {
                width:700px;
                max-width:calc(100% - 30px);
                margin:auto;
                text-align: center;
                line-height: 1.5rem;

                span {
                    font-family:'Archer-Bold';
                }
            }

            .steps {
                display:flex;
                width:600px;
                margin:50px auto;
                max-width:calc(100% - 30px);
                flex-flow:row wrap;
                justify-content: space-around;
                img {
                    pointer-events: none;
                    align-self: center;
                    display:block;
                }

                @media (max-width:440px) {
                    flex-direction:column;
                    margin-bottom:20px;
                    img {
                        margin-bottom:30px;
                    }
                }
            }

           

            .upload-btn-outer {
                display:flex;
                justify-content:center;
                margin:25px 0 10px;

                @media (max-width:500px) {
                    margin-top:25px;
                }

                .upload-btn {
                    text-align:center;
                    transition:all 0.2s ease-in;
                    background: rgb(51,173,132);
                    background: linear-gradient(78deg, rgba(51,173,132,1) 0%, rgba(26,136,100,1) 100%);
                    color:white;
                    font-size: 1.5rem;
                    padding: 18px 40px;
                    cursor:pointer;
                    max-width: calc(100% - 20px);
                    &:hover {
                        background: linear-gradient(78deg, rgba(51,173,132,1) 0%, rgba(51,173,132,1) 100%);
                        transform:scale(1.03);
                    }


                    @media (max-width:500px) {
                        font-size: 16px;
                    }
                }
            }
            

            .tc {
                text-align:center;
                text-decoration: underline;
                max-width: calc(100% - 20px);
                margin:0 auto 40px;
                font-size:14px;
                cursor:pointer;
            }
        }

        #upload {
            transition: all 0.5s ease-in;
            max-height:0;
            overflow:hidden;
            width:700px;
            max-width:100%;
            margin:auto;


            #personal-entry-id {display:none;}

            #upload-personal, #upload-video {
                display:none;
                justify-content:space-between;
                align-items:center;
                flex-flow:row wrap;

                
                padding:25px;
            }

            .info {
                width:calc(50% - 20px);
                display:flex;
                flex-direction: column;
                margin-bottom:10px;

                @media (max-width:440px) {
                    width:calc(100% - 20px);
                }
            }

            .full {
                width:100%;
                margin:0 auto 10px;
            }
            .tc {
                flex-direction: row;
            }

            @media (max-width:500px) {
                input[type=file] {border: solid 1px black;}
            }


            input[type=text], input[type=submit], textarea {
                width:100%;
                font-size:16px;
                padding:5px;
                margin-top:4px;
                font-family:'Archer-Book';
                border:1px solid black;
            }

            input[type=submit] {
                width:150px;
                max-width:100%;
                margin:15px auto;
                background:#fdce3b;
                padding:10px;
                border:none;
                cursor:pointer;
                border-radius: 3px;
                cursor: pointer;
                font-family:'FFAD-Metro';
                font-size:20px;
                letter-spacing:2px;
                transition: scale 0.2s ease-in;
                &:hover {
                    transform:scale(1.03);
                }
            }

            input[type=checkbox] {
                margin:5px 5px 5px 10px;
            }
            
        }

        #thanks {
            display:none;
            flex-direction:column;
            align-items: center;

            .title {
                font-family:'FFAD-Metro';
                text-align:center;
                font-size:2rem;
            }

            .share {
                display:flex;
                justify-content:space-around;
                width:400px;
                margin:45px auto;
                .item {
                    display: flex;
                    align-items: center;
                    font-family:'Archer-Bold';
                    cursor:pointer;
                    color:black;
                    img {
                        margin-right:8px;
                    }
                }
            }

            .readmore {
                margin:40px auto 50px;

                a {
                    font-family:'Archer-Bold';
                    color:black;
                }
            }
        }


        #closed {

        }
        
    }


    .winner {
        background: #fdce3b;
        position:relative;
        min-height:10px;

        

       
        .video-outer {
            position:relative;
            overflow:hidden;
            width:700px;
            max-width:100%;
            margin:40px auto 70px;
            cursor: pointer;

            .play-btn {
                display:block;
                position:absolute;
                left:50%;
                top:50%;
                width:100px;
                height:auto;
                transform: translate(-50%, -50%);
            }

            video {
                transition:all 0.3s ease-in;
                
                width: 100%;
                height: auto;    
                display: block;                
            }


            &:hover video {
                filter:brightness(0.8);
                transform:scale(1.02);
            }
        }
    }


    .tips {
        min-height:10px;
        background:white;
        position:relative;

       

        
        .outer-items {
            position:relative;
            
            .gradient {
                width: calc(15% - 75px);
                height:100%;
                position:absolute;
                background: linear-gradient(90deg, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0) 100%);
                top:0;
                left:0;

                @media (max-width:600px) { display :none; }
            }

            .gradient-right {
                left:auto;
                right:0;
                background: linear-gradient(270deg, rgba(255,255,255,0.8) 0%, rgba(255,255,255,0) 100%);
            }


        }
        .items {
            overflow-x:scroll;
            width:auto;
            display:flex;
            scroll-snap-type: x mandatory;
            scrollbar-width: none;
            -ms-overflow-style: none;

            &::-webkit-scrollbar {
                display: none;
            }
            .item {
                
                width:75%;
                
                margin:0 25px;
                
                flex: 1 0 auto;
                scroll-snap-align: center;


                @media (max-width:600px) {
                    width:100%;
                    margin:0;
                }

                video {
                    width:100%;
                    height:auto;
                    display:block;
                }
            }


            .buffer {
                width: calc(12.5% - 25px);
                background:white;
                flex:1 0 auto;

                @media (max-width:600px) { display :none; }
            }


            

            
        }

        .nav {
            position:absolute;
            top: calc(50% - 40px);
            left:0;
            width:100%;
            display:flex;
            justify-content: space-between;
            

            @media (max-width:600px) { 
                top:0;
                position:relative;
                justify-content:flex-end;
            }

            .arrow {
                background:black;
                height:80px;
                width:40px;
                color:white;
                text-align:center;
                line-height:100px;
                font-size: 30px;
                cursor: pointer;
                position:relative;

                @media (max-width:600px) { 
                    height:40px;
                }

                &:after {
                    content: "";
                    background-image: url(../images/arrow.png);
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-size: 20px;
                    left: 0;
                    position: absolute;
                    background-position: center;

                    @media (max-width:600px) { background-size:15px; }
                }


                &:first-child {
                    &:after {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        .info {

            width:85%;
            margin:auto;
            padding:20px 0;
            text-align:center;
            line-height:1.5rem;
        }
    }

    .entries {
        background:white;
        

        

        #openvideo {
            //dim screen 
            display:none;
            position:fixed;
            top:0;
            left:0;
            width:100%;
            height:100vh;
            background:rgba(0,0,0,0.8);
            

            transition:opacity 0.6s ease-in;
            opacity:0;

            .video-area {
                width:1024px;
                max-width:100%;
                max-height:600px;
                margin:auto;
                position:relative;
                margin-top:250px;

                video {
                    display:block;
                    max-height:600px;
                    max-width:100%;
                    width:100%;
                }

                .close-btn {
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 25px;
                    height: 25px;
                    background: #000;
                    background-image: url(../images/close.png);
                    background-size: 15px;
                    background-repeat: no-repeat;
                    background-position: center;
                    cursor:pointer;
                }
            }


            @media (max-height:900px) {
                .video-area {
                    margin-top:0;
                    max-height : 100%;
                    video {
                        max-height:100%;
                    }
                }
            }
        }
        
        #posts {
            overflow:hidden;
            /*
            line-height: 0;
            column-count:3;
            column-gap:0px; 
            
            @media (max-width:900px) {
                column-count:2;
            }
            */
            margin:auto;

            

            .loading {
                

                

                .video-outer {
                    height:150px;
                    background:gray;

                    video {
                        display:none;
                    }
                }
            }

            

            .post {
                width:330px;
                position:relative;
                z-index:1;

                animation: appear 0.5s linear forwards;

                .video-outer {
                    position:relative;
                    overflow:hidden;
                    width:100%;
                    cursor: pointer;
                    display:block;

                    .play-btn {
                        display:block;
                        position:absolute;
                        left:50%;
                        top:50%;
                        width:100px;
                        height:auto;
                        transform: translate(-50%, -50%);
                    }
    
                    video, img {
                        transition:all 0.3s ease-in;
                        
                        width: 100%;
                        height: auto;    
                        display: block;                
                    }


                    .insta-icon {
                        position: absolute;
                        top: 5px;
                        right: 5px;
                        width: 25px;
                    }


                    &:hover video, &:hover .insta-post {
                        filter:brightness(0.8);
                        transform:scale(1.05);
                    }
                }
                

                .subtext {
                    background:#f0eff1;
                    padding:10px;

                    .name {
                        font-size:16px;
                        font-weight:400;
                        font-family:'Archer-Bold';
                    }

                }
                
            }
        }

        #loadmore {
            width: 180px;
            padding: 18px 0;
            margin: 40px auto;
            background: #f0eff1;
            text-align: center;
            cursor:pointer;
            border-radius:5px;
            box-shadow:0px 1px 2px 1px #0000007d;

            &:hover {
                box-shadow: 0 1px 3px 2px #0000007d;
            }
        }
    }
}




.intro {
    width:550px;
    max-width:100%;
    margin:50px auto;
    display:flex;
    flex-direction:column;
    align-items: center;

    position:relative;

    .logos {
        width:450px;
        max-width:100%;
        display:flex;
        justify-content:space-around;
        margin:0 0 40px;
        pointer-events: none;

        @media (max-width: 475px) {
            flex-direction:column;
            justify-content:center;
            margin-bottom:10px;
            img {
                align-self:center;
                margin-bottom:25px;
            }
        }
    }

    .title {
        font-family:'FFAD-Metro';
        font-size:4rem;
        text-align:center;
        width: 360px;
        max-width:100%;
        margin-bottom: 0;
        margin-top:30px;
        line-height: 4rem;

        @media (max-width:500px) {
            margin-top:0;
        }

        span {
            &:nth-child(2) {
                color:#3ab189;
            }

            &:nth-child(3) {
                color: #e85c5e;
            }
        }
    }

    .subtext {
        width: 420px;
        max-width: calc(100% - 30px);
        margin:auto;
        text-align:center;
        line-height: 1.5rem;
        h4 {
            font-size:2rem;
            margin:15px 0 25px;
        }

        span {
            font-family: 'Archer-Bold';
        }
    }
}


nav.header {
	height: 44px;
	width: 100%;
	border-bottom: 1px solid rgb(237, 237, 237);
	display: flex;
	z-index: 15;
	background: white;
	position: fixed;
    top: 0;
    transition:transform 0.3s ease-in;

    @media (max-width: 485px) {
        .item {
            display: none;
        }
    }
    
    .headersection {
        display: flex;
        justify-content: center;
        flex: 1;
    }
    
    a {
        align-self: center;
    }
    
    .headersection:first-child {
        margin-right: auto;
    }
    
    .headersection:last-child {
        margin-left: auto;
    }
    
    svg {
        width: 78px;
        color: rgb(212, 33, 40);
        margin: 10px 15px;
    }
    
    a:hover svg g {
        fill: #c41718;
    }
    
    .header_logo {
        width: 150px;
    }
    
    .header_logo img {
        width: 100%;
    }
    
    .home9 svg {
        width: 78px;
    }
    .home9 {
        margin-right: auto;
    }
    
    .item {
        display: block;
    
        line-height: 44px;
        color: rgb(152, 152, 152);
        font-size: 12px;
        font-weight: bold;
        margin: 0px 16px;
        padding: 0px;
        text-decoration: none;
        font-family: 'Proxima Nova';
    }
    
    .item:hover {
        color: black;
    }
    
    .selected {
        border-bottom: 2px solid rgb(130, 73, 255);
        color: black;
    }
    
}
